<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Exemplo Axios com EJS</title>
</head>
<body>
    <h1>Carregar Dados</h1>
    <form action="/loadData" method="post">
    <button type="submit">Carregar Dados</button>
</form>
</body>
</html>